In [22]:
from opencage.geocoder import OpenCageGeocode
import pandas as pd
import json
import requests
from config import api_key

In [2]:
# The path to our CSV file
file = "../Data Sets/api1.csv"

# Read our Kickstarter data into pandas
investor_df = pd.read_csv(file)
investor_df.head()

,Unnamed: 0,investor_id,name,location,type,most_recent_deal,number_of_deals,portfolio_size,city,state,country,website,industry
0,2,1761,Ascent Venture Partners,Boston,vc,2018-04-12,0,0,Boston,MA,USA,ascentvp.com,food & beverages
1,3,116,Baseline Ventures,Bay Area,vc,2020-07-20,182,113,San Francisco,CA,USA,baselinev.com,food & beverages
2,4,1968,Discovery Capital,Vancouver,vc,2019-11-25,0,0,Vancouver,CAN-BC,CAN,discoverycapital.com,food & beverages
3,6,7877,Portland Seed Fund,Portland,vc,2020-08-04,0,0,Portland,OR,USA,portlandseedfund.com,food & beverages
4,12,1677,Emerald Technology Ventures,Zurich,vc,2020-06-24,0,0,Zurich,NaN,SWE,emerald-ventures.com,food & beverages

In [13]:
lat_list = []
lon_list =[]

In [14]:
geocoder = OpenCageGeocode(api_key)

In [15]:
for index, row in investor_df.iterrows():
    city = row["city"] + ", "
    if row["country"] == "USA":
        state = row["state"] + ", "
    else:
        state = ""
    country = row["country"]
    
#     print(f"{city}{state}{country}")
#     build query url
    query = str(city)+str(state)+str(country)

    try:
        results = geocoder.geocode(query)   
        lat = results[0]["geometry"]["lat"]
        lon = results[0]["geometry"]["lng"]

        lat_list.append(lat)
        lon_list.append(lon)

#         print(lat)
#         print(lon)
#         print("-------")
    except:
        print(f"Coordinates for {query} Not Found")
        print("-------")
        lat_list.append(0)
        lon_list.append(0)
        pass

Coordinates for Zurich, SWE Not Found
-------
Coordinates for Tun, SWE Not Found
-------
Coordinates for Tel Aviv, ISR Not Found
-------
Coordinates for Stockholm , SWE Not Found
-------
Coordinates for Stockholm, SWE Not Found
-------
Coordinates for Herzliya Pituach, ISR Not Found
-------
Coordinates for Seongnam, KOR Not Found
-------
Coordinates for Beirut Central District, LBN Not Found
-------
Coordinates for Tel Aviv, ISR Not Found
-------
Coordinates for Jerusalem, ISR Not Found
-------
Coordinates for Tel Aviv, ISR Not Found
-------
Coordinates for Cape Town, ZAF Not Found
-------

In [16]:
print(len(lat_list))
print(len(lon_list))

332
332

In [17]:
# create new columns from lists    

investor_df['lat'] = lat_list   
investor_df['lon'] = lon_list

investor_df.head()

,Unnamed: 0,investor_id,name,location,type,most_recent_deal,number_of_deals,portfolio_size,city,state,country,website,industry,lat,lon
0,2,1761,Ascent Venture Partners,Boston,vc,2018-04-12,0,0,Boston,MA,USA,ascentvp.com,food & beverages,42.360253,-71.058291
1,3,116,Baseline Ventures,Bay Area,vc,2020-07-20,182,113,San Francisco,CA,USA,baselinev.com,food & beverages,37.779026,-122.419906
2,4,1968,Discovery Capital,Vancouver,vc,2019-11-25,0,0,Vancouver,CAN-BC,CAN,discoverycapital.com,food & beverages,49.156692,-122.774024
3,6,7877,Portland Seed Fund,Portland,vc,2020-08-04,0,0,Portland,OR,USA,portlandseedfund.com,food & beverages,45.520247,-122.674195
4,12,1677,Emerald Technology Ventures,Zurich,vc,2020-06-24,0,0,Zurich,NaN,SWE,emerald-ventures.com,food & beverages,0.000000,0.000000

In [88]:
# test_investor_df = investor_df

In [89]:
# test_investor_df.loc[test_investor_df["city"] == "Stockholm", ["lat"]] = test_investor_df.loc[test_investor_df["city"] == "Stockholm", ["lat"]].replace({0.0:59.3293})
# test_investor_df.loc[test_investor_df["city"] == "Stockholm", ["lon"]] = test_investor_df.loc[test_investor_df["city"] == "Stockholm", ["lon"]].replace({0.0:18.0686})

In [90]:
# test_investor_df.loc[investor_df["city"] == "Stockholm", :]

,Unnamed: 0,investor_id,name,location,type,most_recent_deal,number_of_deals,portfolio_size,city,state,country,website,industry,lat,lon
149,18,13365,Mattias Miksche,Stockholm,angel,2016-06-29,0,0,Stockholm,NaN,SWE,NaN,food & beverages,59.3293,18.0686

In [91]:
# test_investor_df.head()

,Unnamed: 0,investor_id,name,location,type,most_recent_deal,number_of_deals,portfolio_size,city,state,country,website,industry,lat,lon
0,2,1761,Ascent Venture Partners,Boston,vc,2018-04-12,0,0,Boston,MA,USA,ascentvp.com,food & beverages,42.360253,-71.058291
1,3,116,Baseline Ventures,Bay Area,vc,2020-07-20,182,113,San Francisco,CA,USA,baselinev.com,food & beverages,37.779026,-71.058291
2,4,1968,Discovery Capital,Vancouver,vc,2019-11-25,0,0,Vancouver,CAN-BC,CAN,discoverycapital.com,food & beverages,49.156692,-71.058291
3,6,7877,Portland Seed Fund,Portland,vc,2020-08-04,0,0,Portland,OR,USA,portlandseedfund.com,food & beverages,45.520247,-71.058291
4,12,1677,Emerald Technology Ventures,Zurich,vc,2020-06-24,0,0,Zurich,NaN,SWE,emerald-ventures.com,food & beverages,0.000000,0.000000

In [18]:
#manually entering lat/lon for cities that could not be found using API
investor_df.loc[investor_df["city"] == "Stockholm", ["lat"]] = investor_df.loc[investor_df["city"] == "Stockholm", ["lat"]].replace({0.0:59.3293})
investor_df.loc[investor_df["city"] == "Stockholm", ["lon"]] = investor_df.loc[investor_df["city"] == "Stockholm", ["lon"]].replace({0.0:18.0686})

investor_df.loc[investor_df["city"] == "Stockholm ", ["lat"]] = investor_df.loc[investor_df["city"] == "Stockholm ", ["lat"]].replace({0.0:59.3293})
investor_df.loc[investor_df["city"] == "Stockholm ", ["lon"]] = investor_df.loc[investor_df["city"] == "Stockholm ", ["lon"]].replace({0.0:18.0686})

investor_df.loc[investor_df["city"] == "Zurich", ["lat"]] = investor_df.loc[investor_df["city"] == "Zurich", ["lat"]].replace({0.0:47.3769})
investor_df.loc[investor_df["city"] == "Zurich", ["lon"]] = investor_df.loc[investor_df["city"] == "Zurich", ["lon"]].replace({0.0:8.5417})

investor_df.loc[investor_df["city"] == "Tun", ["lat"]] = investor_df.loc[investor_df["city"] == "Tun", ["lat"]].replace({0.0:58.4268})
investor_df.loc[investor_df["city"] == "Tun", ["lon"]] = investor_df.loc[investor_df["city"] == "Tun", ["lon"]].replace({0.0:12.7557})

investor_df.loc[investor_df["city"] == "Tel Aviv", ["lat"]] = investor_df.loc[investor_df["city"] == "Tel Aviv", ["lat"]].replace({0.0:32.0853})
investor_df.loc[investor_df["city"] == "Tel Aviv", ["lon"]] = investor_df.loc[investor_df["city"] == "Tel Aviv", ["lon"]].replace({0.0:34.7818})

investor_df.loc[investor_df["city"] == "Herzliya Pituach", ["lat"]] = investor_df.loc[investor_df["city"] == "Herzliya Pituach", ["lat"]].replace({0.0:32.1742})
investor_df.loc[investor_df["city"] == "Herzliya Pituach", ["lon"]] = investor_df.loc[investor_df["city"] == "Herzliya Pituach", ["lon"]].replace({0.0:34.8029})

investor_df.loc[investor_df["city"] == "Seongnam", ["lat"]] = investor_df.loc[investor_df["city"] == "Seongnam", ["lat"]].replace({0.0:37.4449})
investor_df.loc[investor_df["city"] == "Seongnam", ["lon"]] = investor_df.loc[investor_df["city"] == "Seongnam", ["lon"]].replace({0.0:127.1389})

investor_df.loc[investor_df["city"] == "Beirut Central District", ["lat"]] = investor_df.loc[investor_df["city"] == "Beirut Central District", ["lat"]].replace({0.0:33.9055})
investor_df.loc[investor_df["city"] == "Beirut Central District", ["lon"]] = investor_df.loc[investor_df["city"] == "Beirut Central District", ["lon"]].replace({0.0:35.5069})

investor_df.loc[investor_df["city"] == "Jerusalem", ["lat"]] = investor_df.loc[investor_df["city"] == "Jerusalem", ["lat"]].replace({0.0:31.7683})
investor_df.loc[investor_df["city"] == "Jerusalem", ["lon"]] = investor_df.loc[investor_df["city"] == "Jerusalem", ["lon"]].replace({0.0:35.2137})

investor_df.loc[investor_df["city"] == "Cape Town", ["lat"]] = investor_df.loc[investor_df["city"] == "Cape Town", ["lat"]].replace({0.0:33.9249})
investor_df.loc[investor_df["city"] == "Cape Town", ["lon"]] = investor_df.loc[investor_df["city"] == "Cape Town", ["lon"]].replace({0.0:18.4241})

In [19]:
investor_df.loc[investor_df["city"] == "Tel Aviv", :]

,Unnamed: 0,investor_id,name,location,type,most_recent_deal,number_of_deals,portfolio_size,city,state,country,website,industry,lat,lon
29,26,17925,Daniel Recanati,Tel Aviv,angel,2016-04-05,0,0,Tel Aviv,NaN,ISR,NaN,food & beverages,32.0853,34.7818
245,36,10070,LionBird,Tel Aviv,vc,2020-03-12,0,0,Tel Aviv,NaN,ISR,lionbird.com,food & beverages,32.0853,34.7818
302,28,3116,Israel Cleantech Ventures,Tel Aviv,vc,2017-12-13,0,0,Tel Aviv,NaN,ISR,icv.vc,food & beverages,32.0853,34.7818

In [20]:
investor_df.to_csv("../Data Sets/investors_with_coords.csv")