In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from config import username, password, host, port

In [2]:
# create an engine that can connect to local database
engine = create_engine(f"postgresql://{username}:{password}@{host}:{port}/postgres")
conn=engine.connect()

In [3]:
#read in billionaires from sql
billionaire_list = pd.read_sql('SELECT * FROM billionaires group by name order by name;',conn)

In [4]:
billionaire_list

,name,rank,year,company_founded,company_name,company_relationship,company_sector,company_type,demographics_age,demographics_gender,...,location_gdp,location_region,wealth_type,wealth_worth_in_billions,wealth_how_category,wealth_how_from_emerging,wealth_how_industry,wealth_how_inherited,wealth_how_was_founder,wealth_how_was_political
0,A. Jerrold Perenchio,663,2014,1955,Univision,former chairman and CEO,media,aquired,83,male,...,0.0,North America,executive,2.6,Non-Traded Sectors,TRUE,Media,not inherited,TRUE,TRUE
1,Abdulla Al Futtaim,687,2014,1930,Al-Futtaim Group,relation,trading,new,0,male,...,0.0,Middle East/North Africa,inherited,2.5,Non-Traded Sectors,TRUE,"Retail, Restaurant",father,TRUE,TRUE
2,Abdulla bin Ahmad Al Ghurair,305,2014,1960,Al-Ghurair Group,relation,industrial goods,new,0,male,...,0.0,Middle East/North Africa,inherited,4.8,Financial,TRUE,Diversified financial,father,TRUE,TRUE
3,Abdullah Al Rajhi,731,2014,1957,Al Rajhi bank,founder,Banking,new,0,male,...,0.0,Middle East/North Africa,self-made finance,2.4,Financial,TRUE,Money Management,not inherited,TRUE,TRUE
4,Abdulsamad Rabiu,1372,2014,1988,BUA Group,founder,"sugar, flour, cement",new,54,male,...,0.0,Sub-Saharan Africa,founder non-finance,1.2,Traded Sectors,TRUE,Consumer,not inherited,TRUE,TRUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,Zhu Yicai,1154,2014,1993,Yurun Food,founder,meat products,new,49,male,...,0.0,East Asia,self-made finance,1.5,Financial,TRUE,Diversified financial,not inherited,TRUE,TRUE
1649,Ziyad Manasir,609,2014,1992,Stroygazconsulting,founder,construction,new,48,male,...,0.0,Europe,privatized and resources,2.8,Non-Traded Sectors,TRUE,Constrution,not inherited,TRUE,TRUE
1650,Ziyaudin Magomedov,1372,2014,2004,Summa Group,founder,"ports, gas",new,45,male,...,0.0,Europe,privatized and resources,1.2,Resource Related,TRUE,Energy,not inherited,TRUE,TRUE
1651,Zong Qinghou,94,2014,1987,Hangzhou Wahaha Group,founder,beverages,new,68,male,...,0.0,East Asia,founder non-finance,11.6,Traded Sectors,TRUE,Consumer,not inherited,TRUE,TRUE
1652,Zygmunt Solorz-Zak,446,2014,1992,Polsat,founder,television,new,57,male,...,0.0,Europe,founder non-finance,3.5,Non-Traded Sectors,TRUE,Media,not inherited,TRUE,TRUE

In [5]:
#read in investors from sql
investors_list = pd.read_sql('SELECT * FROM investors;',conn)

In [6]:
investors_list

,investor_id,name,location,type,most_recent_deal,number_of_deals,portfolio_size,city,state,country,website,industry
0,1761,Ascent Venture Partners,Boston,vc,2018-04-12,0,0,Boston,MA,USA,ascentvp.com,food & beverages
1,116,Baseline Ventures,Bay Area,vc,2020-07-20,182,113,San Francisco,CA,USA,baselinev.com,food & beverages
2,1968,Discovery Capital,Vancouver,vc,2019-11-25,0,0,Vancouver,CAN-BC,CAN,discoverycapital.com,food & beverages
3,7877,Portland Seed Fund,Portland,vc,2020-08-04,0,0,Portland,OR,USA,portlandseedfund.com,food & beverages
4,1677,Emerald Technology Ventures,Zurich,vc,2020-06-24,0,0,Zurich,None,SWE,emerald-ventures.com,food & beverages
...,...,...,...,...,...,...,...,...,...,...,...,...
327,2125,Stata Venture Partners,Boston,vc,2016-11-15,0,0,Boston,MA,USA,None,food & beverages
328,7668,Evan Williams,Bay Area,angel,2016-10-20,0,0,San Francisco,CA,USA,angel.co/ev,food & beverages
329,8623,George Kliavkoff,New York,angel,2012-10-15,0,0,New York,NY,USA,angel.co/kliavkoff,food & beverages
330,1615,Shan Mehta,Bay Area,angel,2015-02-25,0,0,San Francisco,CA,USA,angel.co/shan-mehta,food & beverages
331,8577,Adii Pienaar,Cape Town,angel,2013-08-01,0,0,Cape Town,None,ZAF,None,food & beverages

In [7]:
#read in billionaires from sql
sharkTank_list = pd.read_sql('SELECT * FROM sharktank;',conn)

In [8]:
sharkTank_list

,deal,description,episode,category,entrepreneurs,location,website,askedfor,exchangeforstake,valuation,season,shark1,shark2,shark3,shark4,shark5,title,episode_season,multiple_entreprenuers
0,False,Bluetooth device implant for your ear.,1,Novelties,Darrin Johnson,"St. Paul, MN",None,1000000,15,6666667,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Ionic Ear,2020-01-01,False
1,True,Retail and wholesale pie factory with two reta...,1,Specialty Food,Tod Wilson,"Somerset, NJ",http://whybake.com/,460000,10,4600000,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Mr. Tod's Pie Factory,2020-01-01,False
2,True,Ava the Elephant is a godsend for frazzled par...,1,Baby and Child Care,Tiffany Krumins,"Atlanta, GA",http://www.avatheelephant.com/,50000,15,333333,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Ava the Elephant,2020-01-01,False
3,False,"Organizing, packing, and moving services deliv...",1,Consumer Services,"Nick Friedman, Omar Soliman","Tampa, FL",http://collegehunkshaulingjunk.com/,250000,25,1000000,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,College Foxes Packing Boxes,2020-01-01,False
4,False,Interactive media centers for healthcare waiti...,1,Consumer Services,Kevin Flannery,"Cary, NC",http://www.wispots.com/,1200000,10,12000000,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Wispots,2020-01-01,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,True,Zoom Interiors is a virtual service for interi...,28,Online Services,"Beatrice Fischel-Bock, Madeine Fraser & Lizzie...","Philadelphia, PA",https://zoominteriors.com,100000,20,500000,6,Lori Greiner,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Mark Cuban,Zoom Interiors,2020-06-28,False
491,True,Spikeball started out as a casual outdoors gam...,29,Toys and Games,Chris Ruder,"Chicago, IL",http://spikeball.com,500000,10,5000000,6,Lori Greiner,Kevin O'Leary,Daymond John,Mark Cuban,Nick Woodman,Spikeball,2020-06-29,False
492,True,Shark Wheel is out to literally reinvent the w...,29,Outdoor Recreation,David Patrick and Zack Fleishman,"Lake Forest, CA",http://www.sharkwheel.com,100000,5,2000000,6,Lori Greiner,Kevin O'Leary,Daymond John,Mark Cuban,Nick Woodman,Shark Wheel,2020-06-29,True
493,False,Adriana Montano wants to open the first Cat Ca...,29,Entertainment,Adriana Montano,"Boca Raton, FL",http://gatocafeflorida.com,100000,20,500000,6,Lori Greiner,Kevin O'Leary,Daymond John,Mark Cuban,Nick Woodman,Gato Cafe,2020-06-29,False
494,True,"Sway Motorsports makes a three-wheeled, all-el...",29,Automotive,Joe Wilcox,"Palo Alto, CA",http://www.swaymotorsports.com,300000,10,3000000,6,Lori Greiner,Kevin O'Leary,Daymond John,Mark Cuban,Nick Woodman,Sway Motorsports,2020-06-29,False

In [9]:
rebeccas_list=pd.read_sql('SELECT * FROM investors_copy;',conn)

In [10]:
rebeccas_list

,name,company_founded,industry,company_type,location,wealth_worth_in_billions,wealth_how_industry,type_of_investor,number_of_deals,portfolio_size,website,most_recent_deal
0,A. Jerrold Perenchio,1955,media,aquired,North America,2.6,Media,angel,NaN,NaN,None,None
1,Allan Gray,1973,asset management,new,Sub-Saharan Africa,1.3,Other,angel,NaN,NaN,None,None
2,Andrej Babis,1993,agriculteral,new,Europe,2.4,Consumer,angel,NaN,NaN,None,None
3,Ashwin Dani,1942,paint,new,South Asia,1.3,Consumer,angel,NaN,NaN,None,None
4,Bill Adderley,1979,furniture,new,Europe,1.8,Consumer,angel,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
2231,Robert Herjavec,2000,Music,new,North America,0.2,Internet Security,Shark Tank,NaN,NaN,robertherjavec.com,2020-06-26
2232,Robert Herjavec,2000,Fitness Apparel and Accessories,new,North America,0.2,Internet Security,Shark Tank,NaN,NaN,robertherjavec.com,2020-06-26
2233,Robert Herjavec,2000,Outdoor Recreation,new,North America,0.2,Internet Security,Shark Tank,NaN,NaN,robertherjavec.com,2020-06-27
2234,Robert Herjavec,2000,Automotive,new,North America,0.2,Internet Security,Shark Tank,NaN,NaN,robertherjavec.com,2020-06-27
2235,Robert Herjavec,2000,Automotive,new,North America,0.2,Internet Security,Shark Tank,NaN,NaN,robertherjavec.com,2020-06-29